* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: #f1f1f1;
}

.container {
   
    width: 80%;
    margin: 0 auto;
}



.header .container {

    height: 7rem;
}


.header .container .menu {

    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    align-items: center;
    color: rgb(90, 89, 89);
    
}

.header .container .menu > a {

    text-decoration: none;
    color: grey;
    
    
}

.header .container .menu > a:hover {

    
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #f08910 ;

}


.header .container .menu .login {

    display: flex;
    align-items: center;
    font-weight: 550;
    
}

.header .container .menu .login .usuario {

    margin-left: 8px;
    font-size: 1.3rem;
}

.header .container .menu .login .usuario a {

    display: block;
    color:#f08910;
    font-size: 1rem;
    margin-left: 1.9rem;
}

.principal {

    width: 100%;
    height: 100%;

}

.principal .orange {

    width: 100%;
    height: 8rem;
    background-color: #f08910;
}

.principal .container #text {

    top: 5rem;
    position: absolute;
}

.principal .container .boxes {
    
    position: relative;
    margin-top: -4rem;
    height: 35rem;
    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.principal .container .boxes .box {

   
    width: 15rem;
    height: 15rem;
    border-radius: 30px;
    background: rgb(255,255,255);
    
    background: linear-gradient(180deg, rgb(248, 248, 248) 12%, 
    rgba(241,241,241,1) 34%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal .container .boxes .box a {

   margin-top: 2rem; 
   text-decoration: none;
   font-weight: bold;
   color: black;
}


.footer {

    width: 100%;
    position: fixed;
    padding: 1rem;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
}

.footer p span {

    color: #f08910;
}

@media  (max-width:950px) {
    
    .principal .container .boxes #text {
        
        display: none;
    }    
}


@media  (max-width:850px) {
    
    .header .container .menu a {
        
        display: none;
    }    
}

@media (max-width:650px) {
    
  
    .principal .container  {

        width: 100%;
        background-color: rgb(7, 224, 7);
    }

}


@media (max-width:525px) {

    .header {

       justify-content: center;
       
    }

    .header .container {

        height: 4rem;
    }
 
    .header .container .menu img {

        width: 40%;
    }

    .header .container .menu .login .user {

        width: 50%;
    }
    
    .header .container .menu .login .usuario,
    .header .container .menu .login .usuario a{

        font-size: 15px;
    }

        .principal {

            height: 115vh;
           
        }

    .principal .container {

        height: 100%;
    }

    .principal .container .boxes {

        
        height: 95%;
        
    }

    .principal .container .boxes .box {

       width: 20rem;
       height: 15rem;
    }


}



